<div id="contact-me" class="cont blue-background">		
	<div class="container">		
		<h1 class="title">Contact</h1>		
		<div id="my-form">		
			<form action="javascript:void(0);">		
				<div class="form-group">		
					<label for="emailName">Name</label>		
					<input type="text" class="form-control" id="emailName" placeholder="Full Name" required>		
				</div>		
				<div class="form-group">		
					<label for="emailSubject">Email Subject</label>		
					<input type="text" class="form-control" id="emailSubject" placeholder="Subject" required>		
				</div>		
				<div class="form-group">		
					<label for="emailBody">Message</label>		
					<textarea class="form-control" id="emailBody" rows="10" cols="30" placeholder="Message text..." required></textarea>		
				</div>		
				<button id = "emailSubmit" type="submit" class="btn btn-default">Send</button>		
			</form>		
		</div>		
		<div id="contact-me_message"></div>		
	</div>		
</div>