<div class="container-fluid">
	<div class="row">
		<div class="col-md-12"><h1>Contact Me</h1></div>
	</div>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-3">
			<h2>Message me on Social Media</h2>
			<ul class="nav nav-stacked">
				<li><a href="https://googleplus.com"><span id="googleplus" class="icon icon-google-plus2"> <span class="contact-socialmedia"> Google+</span></span></a></li>
				<li><a href="https://www.linkedin.com/in/zabensley"><span id="skype" class="icon icon-skype"> <span class="contact-socialmedia">Skype</span></span></a></li>
				<li><a href="https://www.linkedin.com/in/zabensley"><span id="linkedin" class="icon  icon-linkedin"> <span class="contact-socialmedia"> Linkedin</span></span></a></li>
				<li><a href="https://instagram.com/zacharilius/"><span id="instagram" class="icon icon-instagram"> <span class="contact-socialmedia"> Instagram</span></span></a></li>
			</ul>
		</div>	
		<div class="col-md-5">
			<h2>Send me an email</h2>	
			<div id="my-form">		
				<form action="javascript:void(0);">		
					<div class="form-group">		
						<label for="emailName">Name</label>		
						<input type="text" class="form-control" id="emailName" placeholder="Full Name" required>		
					</div>		
					<div class="form-group">		
						<label for="emailSubject">Email Subject</label>		
						<input type="text" class="form-control" id="emailSubject" placeholder="Subject" required>		
					</div>		
					<div class="form-group">		
						<label for="emailBody">Message</label>		
						<textarea class="form-control" id="emailBody" rows="10" cols="30" placeholder="Message text..." required></textarea>		
					</div>		
					<button id = "emailSubmit" type="submit" class="btn btn-default pull-right">Send</button>		
				</form>		
			</div>
		</div>		

	</div>
</div>