<div hidden class="nav-buttons">
	<ul class="list-inline">		
		<li><div class="btn tooltip-message" href="#" data-toggle="tooltip" data-placement="bottom" title="Day"><span id = "sun" class="icon icon-sun"></span></div></li>
		<li><div class="btn tooltip-message" href="#" data-toggle="tooltip" data-placement="bottom" title="Night"><span id = "night" class="icon icon-star-empty"></span></a></div></li>
		<li><div class="btn tooltip-message" href="#" data-toggle="tooltip" data-placement="bottom" title="Rainy"><span id = "rain" class="icon icon-droplet"></span></a></div></li>
	</ul>
</div>
<div class=header-text>
   	<h1 class="title">Zachary Bensley</h1>
   	<h3 class="sub-title">Web Developer</h3>
</div>
<div class="container">
	<ul class="list-inline">	
		<li><a class="tooltip-message" href="#/" data-toggle="tooltip" data-placement="bottom" title="Home"><div class="square"><span id="home" class="icon icon-home3"></span></div></a></li>
		<li><a class="tooltip-message" href="#/projects" data-toggle="tooltip" data-placement="bottom" title="Projects"><div class="square"><span id="projects" class="icon icon-sphere"></span></div></a></li>
		<li><a class="tooltip-message" href="http://www.github.com/zacharilius" data-toggle="tooltip" data-placement="bottom" title="Github"><div class=" circle"><span id="github" class="icon icon-github"></span></div></a></li>
		<li><a class="tooltip-message" href="http://codepen.io/zacharilius/" data-toggle="tooltip" data-placement="bottom" title="Codepen"><div class="square"><span id="codepen" class="icon icon-codepen"></span></div></a></li>
		<li><a class="tooltip-message" href="#/maps" data-toggle="tooltip" data-placement="bottom" title="Maps!"><div class="map-circle circle"><span id="earth" class="icon icon-earth"></span></div></a></li>
	</ul>
	<ul class="list-inline">
		<li><a class="tooltip-message" href="https://www.linkedin.com/in/zabensley" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><div class="square-linkedin square"><span id="linkedin" class="icon  icon-linkedin"></span></div></a>
		<li><a class="tooltip-message" href="https://instagram.com/zacharilius/" data-toggle="tooltip" data-placement="bottom" title="Instagram"><div class="square-instagram square"><span id="instagram" class="icon icon-instagram"></span></div></a></li>
		<li><a class="tooltip-message" href="#/contact" data-toggle="tooltip" data-placement="bottom" title="Contact"><div class="square"><span id="contactme" class="icon icon-envelop"></span></div></a></li>
	</ul>	
</div>	
<div class="image-cropper">
	<img class="center-image" alt="seattleSkyline" id="seattlePic" src="/images/sampleSeattleSkyline.png"/>
</div>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>