.dark-primary-color    { background: #00796B; }
.default-primary-color { background: #009688; }
.light-primary-color   { background: #B2DFDB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }




body{
  text-align: center;

  font-family: Pacifo, sans-serif;
  background-color: #FFFFFF;
  color: #212121;
  margin: 0 auto;

}
/*
 * Handles screens for desktops
*/
@media screen and (min-width:800px) {
  #seattlePic{
    width: 100%;
    margin-top: 70px;
  }

  #intro{
    margin-top: 50px;
  }
  .project .image-box{
    border:1px dashed blue;
    width: 60%;
    height: 300px;
  }
  .project .left-image{
    float: left;
  }

  .project .right-image{
    float: right
  }
  .project .text-box{
    border:1px dashed green;
    width: 40%;
    float: left;
    padding: 2%;
    overflow: auto;
  }
  .project .text{
    border:1px dashed black;
    text-align: left;
  }
  #my-form{
    margin: 0 auto;
    width: 50%;
  }
}
/*
 * Handles screens for tablets & phones
*/
@media screen and (max-width:800px){
  .image-cropper {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  .center-image {
    position: absolute;
    left: -25%;
    bottom: 0px;
  }
  #seattlePic{
    width: 150%;
  }
}
@media screen and (max-width:500px) {
  #intro{
    margin-top: 20px;
  }
  .image-cropper {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  .center-image {
    position: absolute;
    left: -25%;
    bottom: 0px;
  }
  #seattlePic{
    width: 150%;
  }
  #my-form{
    margin: 0 auto;
    width: 75%;
  }
  .project .image-box{
    border:1px dashed blue;
    width: 100%;
  }
}

.blue-background{
  background-color: #009688;
  color: #FFFFFF;

}

.cont{
  padding-top: 20px;
  padding-bottom: 10px;
}
.paragraph{
  text-align: left;
}


.intro-cont{
  padding-top: 70px;
}



#projects{

}
#projects .title{

}
#projects .cont{


}
.project {
  padding: 0% 5% 5% 5%;
  border:1px dashed red;
  overflow: auto;

}
.project img{
}

.project .left-text{
}
.project .right-text{

}
#about{

}

#contact-me{

}

.footer{
  background-color:#00796B;
  color: #FFFFFF;
  padding: .5%;
}

.footer .text-left{
  float:left;
  margin: 0px;
}
.footer img{
  float: right;
  vertical-align: middle;
  height: 34px;
  margin: 0px 2px 0px 2px;
}



/* Overridden Bootstrap CSS
*/
.navbar-inverse {
    background-color: #00796B;
    border-color: #00796B;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-nav>.active>a:hover {
    background-color: #016358;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #016358;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #016358;
}
.navbar-inverse .navbar-toggle {
    border-color: #00796B;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #B6B6B6;
}
.navbar-inverse .navbar-nav>li>a {
  color: #DED5D5;
}
.navbar-inverse .navbar-brand {
    color: #DED5D5;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #DED5D5;
    background-color: #016358;
}
