body{
  text-align: center;
  font-family: Pacifo, sans-serif;
  color: #212121;
  margin: 0 auto;

}

.dark-primary-color    { background: #00796B; }
.default-primary-color { background: #009688; }
.light-primary-color   { background: #B2DFDB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }



.cont{
  margin-top: -25px;
  padding-top: 50px;
  padding-bottom: 25px;
}
.paragraph{
  text-align: left;
}
#intro{
  background-color: #009688;
}
#intro .title, #intro .sub-title {
  color: #FFFFFF;
}



#intro .title{

}
#intro .sub-title{

}
#seattlePic{
  width: 100%;
  margin-top: 20px;
}

#header{
  background-color: #0288D1
}
#header h1{
  color: FFFFFF;
}
#projects{
  background-color: #FFFFFF;
}
#projects .title{

}
#projects .cont{


}
.project {
  padding: 0% 5% 5% 5%;
  border:1px dashed red;
  overflow: auto;

}
.project img{
}
.project .image-box{
  border:1px dashed blue;
  width: 60%;
  height: 300px;
}
.project .left-image{
  float: left;
}

.project .right-image{
  float: right
}
.project .text-box{
  border:1px dashed green;
  width: 40%;
  float: left;
  padding: 2%;
  overflow: auto;
}
.project .text{
  border:1px dashed black;
  text-align: left;
}
.project .left-text{
}
.project .right-text{

}
#about{
  background-color: #009688;
  color: #FFFFFF;
}

#contact-me{

}

#my-form{
  margin: 0 auto;
  width: 50%;
}
.footer{
  background-color:#00796B;
  color: #FFFFFF;
  padding-top: 1%;
}
.footer .text-left{
  float:left;
}
.footer img{
  float: right;
}
