.dark-primary-color    { background: #00796B; }
.default-primary-color { background: #009688; }
.light-primary-color   { background: #B2DFDB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }



.header-text{
	padding-top: 3%;
}

.nav-buttons{
	position: fixed;
	top: 1%;
	right: 1%;
}


.icon{
	color: #FFFFFF;
	font-size: 35px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

body{
  text-align: center;
  font-family: Pacifo, sans-serif;
  background-color: #009688;
  color: #FFFFFF;
  margin: 0 auto;
  overflow-y scroll;
}

/* Tooltip */
.tooltip-message + .tooltip > .tooltip-inner {
    background-color: transparent; 
    color: #FFFFFF; 
    padding-bottom: 0px;
    font-size: 20px;
}
/* Tooltip on top */
.tooltip-message + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid transparent;
}
/* Tooltip on bottom */
.tooltip-message + .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid transparent;
}
ul{
	margin-bottom: 40px;
}
a:focus, a:hover {
    text-decoration: none;
}
#sun:hover, #sun:focus{
	color:#F4CC0A;
}
#night:hover, #night:focus{
	color:#FBF619;
}
#rain:hover, #rain:focus{
	color:#03DDFF;
}
#projects:hover, #projects:focus{
	color:#FFC107;
}
#github:hover, #github:focus{
	color:#6D3353;
}
#codepen:hover, #codepen:focus{
	color:#000;
}
#home:hover, #home:focus{
	color:#B91787;
}
#linkedin:hover, #linkedin:focus{
	color: #1985BC;	
}
#instagram:hover, #instagram:focus{
	color:#F15E5E;
}
#skype:hover, #skype:focus{
	color:#00AFF0;
}
#googleplus:hover, #googleplus:focus{
	color:#DC4937;
}
#contactme:hover, #contactme:focus{
	color:#F6590C;
}
#earth:hover, #earth:focus{
	color:#73d216;
}
.square-instagram:hover, .square-instagram:focus{
	background:#FFFFFF;
}
.square-linkedin:hover, .square-linkedin:focus{
	background: #FFFFFF;	
}
.square:hover, .square:focus{
	width: 35px;
	height: 35px;
	-moz-border-radius: 25%;
	-webkit-border-radius: 25%;
	border-radius: 25%;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

.map-circle:hover, .map-circle:focus{
	background: #2072C9;
}
.circle:hover, .circle:focus{
	width: 35px;
	height: 35px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
/*
 * Handles desktop screens
 */
@media screen and (min-width:800px) {
.image-cropper{
	position: fixed;
	bottom: 0px;
    z-index: -2;
}
#seattlePic{
	margin: 0 auto;
	width: 100%;
    z-index: -2;
}
}
/*
 * Handles screens for tablets & phones
*/
@media screen and (max-width:800px){
  .image-cropper {
    margin: 0 auto;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    z-index: -2;
  }
  .center-image {
    position: absolute;
    left: -25%;
    bottom: 0px;
  }
  #seattlePic{
    width: 150%;
  }
}
@media screen and (max-width:500px) {
  #intro{
    margin-top: 20px;
  }
  #intro .title{
      padding-top: 100px;
  }
  .image-cropper {
    margin: 0 auto;
    width: 100%;
    height: 370px;
    overflow: hidden;
  }
  .center-image {
    position: absolute;
    left: -75%;
    bottom: 0px;
  }
  #seattlePic{
    width: 250%;
  }
}
.picture-container{
	overflow: hidden;
	margin: 0 auto;
}

.project{
	padding-top: 20px;
}
.project-image{
    width: auto;
    max-height: 450px;
    display: inline;
}
.project-button-img{
	height: 14px;
}

.project-text{
	text-align: left;
}
.screenType{
	color: #005D53;
	font-size: 35px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	display: block;
}
@media screen and (max-width: 768px) {
   .screenType{
	color: #005D53;
	font-size: 35px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	display: inline
	}
 }
.screenType:hover{
	color: #FFFFFF;
}
.screenType:active, .screenType.active {
	color: #FFFFFF;
}
.contact-socialmedia{
	font-size: 20px;
	vertical-align: top;
}
.btn.active, .btn:active {
	box-shadow: none;	
}
