.dark-primary-color    { background: #00796B; }
.default-primary-color { background: #009688; }
.light-primary-color   { background: #B2DFDB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }



.header-text{
	padding-top: 5%;
}

.nav-buttons{
	position: fixed;
	top: 1%;
	right: 1%;
}

.icon-container{
	margin: 1% 0 1% 0;
}
.icon-row{
	margin-top: 1%;
}
.icon{
	margin-left: 1px;
	margin-right: 1px;
	font-size: 32px;
}

body{
  text-align: center;

  font-family: Pacifo, sans-serif;
  background-color: #009688;
  color: #FFFFFF;
  margin: 0 auto;
}

/* Tooltip */
.test + .tooltip > .tooltip-inner {
    background-color: #8AC007; 
    color: #FFFFFF; 
    border: 1px solid green; 
    padding: 15px;
    font-size: 20px;
}
/* Tooltip on top */
.test + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid green;
}




/*
 * Handles desktop screens
 */
@media screen and (min-width:800px) {
.image-cropper{
	position: fixed;
	bottom: 0px;
    z-index: -2;
}
#seattlePic{
	margin: 0 auto;
	width: 100%;
    z-index: -2;
}
}
/*
 * Handles screens for tablets & phones
*/
@media screen and (max-width:800px){
  .image-cropper {
    margin: 0 auto;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 300px;
    overflow: hidden;
    z-index: -2;
  }
  .center-image {
    position: absolute;
    left: -25%;
    bottom: 0px;
  }
  #seattlePic{
    width: 150%;
  }
}
@media screen and (max-width:500px) {
  #intro{
    margin-top: 20px;
  }
  #intro .title{
      padding-top: 100px;
  }
  .image-cropper {
    margin: 0 auto;
    width: 100%;
    height: 370px;
    overflow: hidden;
  }
  .center-image {
    position: absolute;
    left: -75%;
    bottom: 0px;
  }
  #seattlePic{
    width: 250%;
  }
}
