<!DOCTYPE html>
<html>

<head>
  <title>Zachary Bensley</title>
  <link rel=stylesheet type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel=stylesheet type="text/css" href="css/main.css">

  <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  -->
  <script type="text/javascript" src="js/main.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  <div id = "intro" class="cont">
    <h1 class="title">Zachary Bensley</h1>
    <h2 class="sub-title">Web Developer</h2>
    <img id="seattlePic" src="images/sampleSeattleSkyline.jpeg">
  </div>
  <div id = "projects" class="cont">
    <h1 class="title">Projects</h1>
    <


    <main ng-app="NewsApp" id="wrapper" class="ng-scope">
      <section ng-controller="newsCtrl" id="columns" class="ng-scope"><!-- ngRepeat: item in news --><a href="https://medium.com/@lassekristensen_95506/how-to-design-award-winning-websites-6f4d2a71495" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="https://cdn-images-2.medium.com/max/800/1*C7vY72PfAKT3HQ2m_nFPJg.jpeg" err-src="https://avatars.githubusercontent.com/u/7389754?v=3" src="https://cdn-images-2.medium.com/max/800/1*C7vY72PfAKT3HQ2m_nFPJg.jpeg">
            <p class="ng-binding">How to design award-winning websites </p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">ellieadam</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="https://www.codeschool.com/courses/adventures-in-web-animations?utm_medium=email&amp;utm_campaign=announcement_web_animations_a&amp;utm_source=mailchimp&amp;utm_content=null" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/525/adventures-in-web-animations-ddb801dc0f6e1c033511311fa0eddece.png" err-src="https://avatars.githubusercontent.com/u/7389754?v=3" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/525/adventures-in-web-animations-ddb801dc0f6e1c033511311fa0eddece.png">
            <p class="ng-binding">Web Animations Tutorial - Code School</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">ellieadam</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="http://www.quora.com/Is-it-too-late-to-learn-to-code/answer/Erin-Parker" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="" err-src="https://avatars.githubusercontent.com/u/6577624?v=3" src="https://avatars.githubusercontent.com/u/6577624?v=3">
            <p class="ng-binding">It Too Late To Learn To Code? - Quora</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">duttakapil</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="http://humanjavascript.com" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="" err-src="http://www.betseybiggs.org/wordpress//wp-content/uploads/2012/05/bb_hat_cape_big.jpg" src="http://www.betseybiggs.org/wordpress//wp-content/uploads/2012/05/bb_hat_cape_big.jpg">
            <p class="ng-binding">human javascript by Henrik Joreteg</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">betsbillabong</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="http://www.sitepoint.com/10-common-mistakes-web-developers-make/" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="http://www.sitepoint.com/wp-content/themes/sitepoint/assets/images/icon.developer-center.png" err-src="https://pbs.twimg.com/profile_images/378800000633719904/e83f3f74cae11010d32397e94b8bc09b_400x400.jpeg" src="http://www.sitepoint.com/wp-content/themes/sitepoint/assets/images/icon.developer-center.png">
            <p class="ng-binding">10 Common Mistakes Web Developers Make</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">bugron</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="http://jenniferdewalt.com/" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="" err-src="https://avatars.githubusercontent.com/u/7795750?v=3" src="https://avatars.githubusercontent.com/u/7795750?v=3">
            <p class="ng-binding">Need an awesome portfolio project idea or inspiration?  Check this out.</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">twoscoop</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="https://github.com/jquery/jquery.com/issues/88?#issuecomment-72400007" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="https://avatars1.githubusercontent.com/u/1758366?v=3&amp;s=400" err-src="https://pbs.twimg.com/profile_images/378800000633719904/e83f3f74cae11010d32397e94b8bc09b_400x400.jpeg" src="https://avatars1.githubusercontent.com/u/1758366?v=3&amp;s=400">
            <p class="ng-binding">Don't advertise .show() on the front page</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">bugron</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="https://cssanimation.rocks/pseudo-elements/" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="https://cssanimation.rocks/assets/images/posts/sheen/sheen.gif" err-src="https://pbs.twimg.com/profile_images/378800000633719904/e83f3f74cae11010d32397e94b8bc09b_400x400.jpeg" src="https://cssanimation.rocks/assets/images/posts/sheen/sheen.gif">
            <p class="ng-binding">Animating pseudo-elements</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">bugron</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="http://www.kirupa.com/html5/css_transitions_cheatsheet.htm" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="http://www.kirupa.com/html5/images/transition_example2.png" err-src="https://pbs.twimg.com/profile_images/378800000633719904/e83f3f74cae11010d32397e94b8bc09b_400x400.jpeg" src="http://www.kirupa.com/html5/images/transition_example2.png">
            <p class="ng-binding">The CSS Transitions Cheatsheet</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">bugron</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="http://www.huffingtonpost.com/jonha-revesencio/how-to-hire-a-javascript_b_8023518.html?utm_hp_ref=technology&amp;ir=Technology" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="http://s.huffpost.com/contributors/jonha-revesencio/headshot.jpg" err-src="https://avatars.githubusercontent.com/u/310285?v=3" src="http://s.huffpost.com/contributors/jonha-revesencio/headshot.jpg">
            <p class="ng-binding">How to Hire a JavaScript Developer&nbsp;|&nbsp;Jonha Revesencio</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">dougbelcher</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="http://glenmaddern.com/articles/css-modules" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="" err-src="https://avatars.githubusercontent.com/u/10391859?v=3" src="https://avatars.githubusercontent.com/u/10391859?v=3">
            <p class="ng-binding">Glen Maddern: CSS Modules</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">danraley</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="https://medium.com/@racheltho/if-you-think-women-in-tech-is-just-a-pipeline-problem-you-haven-t-been-paying-attention-cb7a2073b996" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="https://cdn-images-1.medium.com/max/800/1*poZVL4HvL4HMoAIsts3RLA.jpeg" err-src="https://lh6.googleusercontent.com/-71UPMvZYtig/AAAAAAAAAAI/AAAAAAAAAZ4/aO_p5b8dNkM/photo.jpg" src="https://cdn-images-1.medium.com/max/800/1*poZVL4HvL4HMoAIsts3RLA.jpeg">
            <p class="ng-binding">If you think women in tech is just a pipeline problem, you haven’t been paying attentio...</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">chakers</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="https://www.codeschool.com/courses/adventures-in-web-animations" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/525/adventures-in-web-animations-ddb801dc0f6e1c033511311fa0eddece.png" err-src="https://avatars.githubusercontent.com/u/7230788?v=3" src="https://d1ffx7ull4987f.cloudfront.net/images/achievements/large_badge/525/adventures-in-web-animations-ddb801dc0f6e1c033511311fa0eddece.png">
            <p class="ng-binding">ADVENTURES IN WEB ANIMATIONS</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">swarnakishore</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="https://vimeo.com/28610688" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="https://i.vimeocdn.com/video/190977756_1280x480.jpg" err-src="https://avatars.githubusercontent.com/u/6375633?v=3" src="https://i.vimeocdn.com/video/190977756_1280x480.jpg">
            <p class="ng-binding">Leveraging Open Source - Everything You Wanted to Know About Open Source.</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">captainmoha</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="http://blog.freecodecamp.com/2014/10/25-tools-every-new-coder-needs.html" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="https://s3.amazonaws.com/freecodecamp/wide-social-banner.png" err-src="https://avatars.githubusercontent.com/u/12991947?v=3" src="https://s3.amazonaws.com/freecodecamp/wide-social-banner.png">
            <p class="ng-binding">In case you hadn't seen THIS yet! '25 tools every new coder needs'</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">grahamlutz</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="https://blog.growth.supply/10-great-websites-to-learn-coding-ff7e411d708d" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="https://cdn-images-2.medium.com/max/800/1*C_cMsuympo6CTAXISLtTuQ.jpeg" err-src="https://avatars.githubusercontent.com/u/6577624?v=3" src="https://cdn-images-2.medium.com/max/800/1*C_cMsuympo6CTAXISLtTuQ.jpeg">
            <p class="ng-binding">10  Great Websites To Learn Coding — Medium</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">duttakapil</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="https://medium.com/@davidbyttow/abc-always-be-coding-d5f8051afce2" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="https://cdn-images-1.medium.com/max/800/0*85RbgZWKTSEAKDx-.png" err-src="https://avatars.githubusercontent.com/u/12566878?v=3" src="https://cdn-images-1.medium.com/max/800/0*85RbgZWKTSEAKDx-.png">
            <p class="ng-binding">ABC: Always Be Coding — Medium</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">mkemo8870</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="http://www.techrepublic.com/blog/software-engineer/10-tips-to-go-from-a-beginner-to-an-intermediate-developer/" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="" err-src="https://avatars.githubusercontent.com/u/6125097?v=3" src="https://avatars.githubusercontent.com/u/6125097?v=3">
            <p class="ng-binding">10 tips to go from a beginner to an intermediate developer</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">greenheart</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="http://www.toptal.com/web/a-landing-page-design-guide" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="http://assets.toptal.io/uploads/blog/post_image/90223/823nermin-04-309f8a92017661065a55e1dca86e0f10.jpg" err-src="https://avatars.githubusercontent.com/u/7230788?v=3" src="http://assets.toptal.io/uploads/blog/post_image/90223/823nermin-04-309f8a92017661065a55e1dca86e0f10.jpg">
            <p class="ng-binding">Landing Page Design: Building the Ultimate Landing Page</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">swarnakishore</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="http://brianemory.com/never-be-afraid-to-start-over/" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="http://brianemory.com/wp-content/uploads/2015/08/start-over.jpg" err-src="https://avatars.githubusercontent.com/u/13194060?v=3" src="http://brianemory.com/wp-content/uploads/2015/08/start-over.jpg">
            <p class="ng-binding">Never Be Afraid to Start Over</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">thebrianemory</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="https://blog.growth.supply/the-30-second-habit-with-a-lifelong-impact-2c3f948ead98" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="https://cdn-images-1.medium.com/max/800/1*5uECN8UPlYY7KNeplx6qXw.jpeg" err-src="https://avatars.githubusercontent.com/u/6577624?v=3" src="https://cdn-images-1.medium.com/max/800/1*5uECN8UPlYY7KNeplx6qXw.jpeg">
            <p class="ng-binding">The 30 Second Habit With A Lifelong Impact — Medium</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">duttakapil</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="http://lab.ejci.net/favico.js/" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="http://lab.ejci.net/favico.js/og-image-app.png" err-src="https://pbs.twimg.com/profile_images/378800000633719904/e83f3f74cae11010d32397e94b8bc09b_400x400.jpeg" src="http://lab.ejci.net/favico.js/og-image-app.png">
            <p class="ng-binding">favico.js - Make use of your favicon</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">bugron</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="https://youtu.be/f6VpCVU1bIA" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="https://i.ytimg.com/vi/f6VpCVU1bIA/maxresdefault.jpg" err-src="https://avatars.githubusercontent.com/u/985197?v=3" src="https://i.ytimg.com/vi/f6VpCVU1bIA/maxresdefault.jpg">
            <p class="ng-binding">Camper and Bonfire creator Branden Byers talk on creating coding puzzles</p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">quincylarson</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news --><a href="http://www.quora.com/What-types-of-jobs-are-available-for-those-that-know-just-HTML-CSS-and-JavaScript" target="_blank" ng-repeat="item in news" class="ng-scope">
          <article class="pin"><img ng-src="" err-src="https://avatars.githubusercontent.com/u/7389754?v=3" src="https://avatars.githubusercontent.com/u/7389754?v=3">
            <p class="ng-binding">What types of jobs are available for those that know just HTML/CSS and JavaScript? </p>
            <footer>
              <p class="comments ng-binding"> Comments</p>
              <p class="author ng-binding">ellieadam</p>
            </footer>
          </article></a><!-- end ngRepeat: item in news -->
          </section>
    </main>
  </div>
  <div id = "about" class="cont">
    <h1 class="title">About</h1>
    <div class="container paragraph">
    <p>I have been interested in technology and design from a very young age.
      Growing up, my favorite toys were my Lego bricks and my electronics set
      that I used to design and then create my inventions. I still have a
      passion for design, however now I focus on designing and creating
      applications.</p>
    <p>When I create an application, the design and scalability are the two most
       important factors. Having design as a focus has helped me create
       applications that focus on user interaction and user experience. My other
       main focus is scalability. After I complete an algorithm, I examine it
       for inefficiencies and then redesign and recode until the algorithm is
       sufficiently scalable. Focusing on design and scalability is very
       challenging, however, having an end product that is easily usable by many
        users is well worth the extra time needed to create quality
        applications.</p>
    <p>I write in Java, Python, JavaScript, CSS, and HTML. I also have database
      experience with Oracle PL/SQL and MySQL. I posted some of my projects on
      GitHub and also under the projects tab. If you would like to give me any
      feedback on my projects, please contact me.</p>
    <p>I am currently finishing my Masters Degree in Applied Computer Science
      and working as a teaching assistant. My coursework and teaching has helped
       me gain a theoretical and practical knowledge of computer science theory.
        More importantly, I try to apply my knowledge of data structures and
        algorithms when designing and creating applications.</p>
</div>
  </div>
  <div id = "contact-me" class="cont">
    <div class="container">
    <h1 class="title">Contact Me</h1>
    <div id="my-form">

    <form>
      <div class="form-group">
        <label for="exampleName">Name</label>
        <input type="text" class="form-control" id="exampleName" placeholder="Full Name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email Address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Message Body</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Text text text...">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
  </div>
  </div>
</body>
